.btn-large{
  width: 130px;
  height: 40px;
}
.btn-stretch{
  height: 100%;
  display: block;
}


.arrow-down{
  position: relative;
  top: 50%;
  left: 8%;
}


.select-border{
  border-color: black;
}

.sticky{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 5%;
  left: 85%;
}
